/* google font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* global style */

body{
    font-family: 'Roboto', sans-serif;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.section-title{
    padding: 10px 0 30px;
    font-size: 36px;
    position: relative;
}

.section-title::after{
    position: absolute;
    content: '';
    left: 47%;
    bottom: 0;
    background: #33383e;
    height: 2px;
    width: 7%;
}

.section-text{
    font-size: 18px;
}

/* navbar style */

.nav-logo{
    position: relative;
    font-size: 28px;
    transition: all .3s ease-in-out;
}

.nav-logo:hover,
.nav-link-hover:hover{
    color: #458FF6 !important;
}

.nav-link-hover{
    position: relative;
    /* overflow: hidden; */
}

.nav-link-hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #458FF6;
    bottom: 0;
    left: -10px;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.nav-link-hover:hover::before{
    opacity: 1;
    left: 0;
}

/* hero style */

.hero-sec{
    padding: 80px 0;
}

/* .hero-margin{
    margin-top: 8%;
} */

.hero-header{
    font-weight: 400;
}

.hero-text{
    font-size: 18px;
    color: #7D7987;
}

.btn-general{
    padding: 10px 25px;
    border-radius: 55px;
    background: #458FF6;
    color: #ffffff;
}

.btn-general:hover{
    color: #eeeeee;
}

/* services style */

.services-sec{
    background: url('../img/Frame.png');
    background-position: left center;
    background-repeat: no-repeat;
}

.card-style{
    padding: 40px 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card-heading{
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
}

.card-desc{
    text-align: justify;
    font-size: 16px;
    color: #7D7987;
}

/* responsive style */

@media (max-width: 768px) {
    .nav-logo{
        font-size: 28px;
    }
    .menu-md-top{
        margin-top: 10px;
    }
    .nav-md{
        background: #eeeeee;
    }
    .nav-md-center{
        text-align: center;
    }
    .hero-margin{
        margin-top: 32%;
    }
    .hero-img-padding{
        margin-top: 30px;
    }
}