/* google font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* global style */

body{
    font-family: 'Roboto', sans-serif;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.section-title{
    padding: 10px 0 30px;
    font-size: 36px;
    position: relative;
}

.section-title::after{
    position: absolute;
    content: '';
    left: 47%;
    bottom: 0;
    background: #33383e;
    height: 2px;
    width: 7%;
}

.section-text{
    font-size: 16px;
    color: #7D7987;
}

/* navbar style */

.nav-logo{
    position: relative;
    font-size: 28px;
    transition: all .3s ease-in-out;
}

.nav-logo:hover,
.nav-link-hover:hover{
    color: #458FF6 !important;
}

.nav-link-hover{
    position: relative;
    /* overflow: hidden; */
}

.nav-link-hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #458FF6;
    bottom: 0;
    left: -10px;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.nav-link-hover:hover::before{
    opacity: 1;
    left: 0;
}

/* hero style */

.hero-sec{
    padding: 100px 0;
}

/* .hero-margin{
    margin-top: 8%;
} */

.hero-header{
    font-weight: 400;
}

.hero-text{
    font-size: 18px;
    color: #7D7987;
}

.btn-general{
    padding: 10px 25px;
    border-radius: 55px;
    background: #458FF6;
    color: #ffffff;
}

.btn-general:hover{
    color: #eeeeee;
}

/* services style */

.services-sec{
    padding: 30px 0 60px;
    background: url('../img/Frame.png');
    background-position: left center;
    background-repeat: no-repeat;
}

.card-style{
    padding: 40px 20px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

.card-heading{
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
}

.card-desc{
    text-align: justify;
    font-size: 16px;
    color: #7D7987;
}

.btn-card{
    color: #458FF6;
    background-color: #ffffff;
    padding: 8px 30px;
    border: 1px solid #458FF6;
    border-radius: 30px;
    transition: all .3s ease-in-out;
}

.btn-card:hover{
    background-color: #458FF6;
    color: #ffffff;
}

/* healthcare style */

.healthcare-sec{
    padding: 60px 0 60px;
}

.healthcare-text{
    padding: 0 50px 0 100px;
}

.healthcare-title{
    font-weight: 500;
    position: relative;
}

.healthcare-title::after{
    position: absolute;
    content: '';
    bottom: -25px;
    left: 0;
    width: 10%;
    height: 3px;
    background-color: #33383e;
    overflow: hidden;
}

.healthcare-desc{
    color: #7D7987;
    margin: 60px 0 40px;
    font-size: 16px;
    /* text-align: justify; */
}

/* download style */

.download-sec{
    padding: 60px 0 60px;
}

.download-text{
    padding: 0 100px 0 50px;
}

.download-title{
    font-weight: 500;
    position: relative;
}

.download-title::after{
    position: absolute;
    content: '';
    bottom: -25px;
    left: 0;
    width: 10%;
    height: 3px;
    background-color: #33383e;
    overflow: hidden;
}

.download-desc{
    color: #7D7987;
    margin: 60px 0 40px;
    font-size: 16px;
}

/* testimonial style */

.testimonial-sec{
    padding: 60px 0;
    color: #ffffff;
}

.testimonial-sec .section-title::after{
    background-color: #ffffff;
}

.w-90{
    width: 90%;
    border-radius: 15px;
    background-color: #458FF6;
}

.testimonial-client-name{
    font-size: 18px;
}

.testimonial-client-desc{
    font-size: 16px;
}

/* blog section */

.blog-sec{
    padding: 60px 0;
    background: url('../img/frame2.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.blog-card{
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.blog-card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog-card-body{
    padding: 10px 30px;
}

.blog-card-link{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
}

/* responsive style */

@media (max-width: 768px) {
    .nav-logo{
        font-size: 28px;
    }
    .menu-md-top{
        margin-top: 10px;
    }
    .nav-md{
        background: #eeeeee;
    }
    .nav-md-center{
        text-align: center;
    }
    .hero-img-padding{
        margin-top: 30px;
    }
}